# 数据库配置
MONGODB_URI=mongodb+srv://

# JWT密钥
JWT_SECRET=
JWT_EXPIRES_IN=7d

# 服务器端口
PORT=3000

# 环境
NODE_ENV=development

# 文件上传配置
UPLOAD_PATH=uploads/
MAX_FILE_SIZE=52428800

# CORS配置
CORS_ORIGIN=http://localhost:5173

BLOB_READ_WRITE_TOKEN=